---
---

@import "{{ site.theme }}";
@media print, screen and (max-width: 480px) {
    #banner {
	display: block!important;
	max-width: 100%;
	padding-right: 75px;	
    }

}

:root {
    --background-color: #757575;
    --header-color: #E08D4F;
    --banner-color: #545AA7;
    --main-color: #C16622;
}
body {
    background-url: none;
    background: var(--background-color);
    background-color: var(--background-color);
}
footer {
    color: #DDD;
}

header {
    background: var(--header-color);
    background-color: var(--header-color);
    background-image: none;
}

#banner {
    background: var(--banner-color);
    background-color: var(--banner-color);
    border-bottom-color: var(--banner-color);
    border-left-color: var(--banner-color);
    border-right-color: var(--banner-color);
    border-top-color: var(--banner-color);
    text-align: right;
    padding-right: 75px;
}

#banner #logo {
    float: right;
    padding-right: 0px;
}

#banneritem {
    position: relative;
    top: 15px;
}

#banneritem a {
    color: #DDD
}

#banner .button {
    border: 1px solid var(--main-color);
    background: var(--main-color);
    background-color: var(--main-color);
}
#banner .button:hover {
    background: #E08D4F;
    background-color: #E08D4F;
}

#banner #logo {
    background: url(../images/dataengineering-logo.svg);
}

nav ul a {
    color: #DDD;
}

.borderless {
    border: none;
}
