---
---

@import "{{ site.theme }}";
body {
    background-url: none;
    background: #757575;
    background-color: #757575;
}
header {
    background: #BE7C3F;
    background-color: #BE7C3F;
    background-image: none;
}

#banner {
    background: #5B8FA8;
    background-color: #5B8FA8;
    border-bottom-color: #5B8FA8;
    border-left-color: #5B8FA8;
    border-right-color: #5B8FA8;
    border-top-color: #5B8FA8;
}

#banner .button {
    border: 1px solid #C16622;
    background: #C16622;
    background-color: #C16622;
}
#banner .button:hover {
    background: #E08D4F;
    background-color: #E08D4F;
}

#banner #logo {
    background: url(../images/dataengineering-logo.svg);
}
